{% extends 'blog/base/base.html' %}

{% block contenido %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-header">
    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        
                    </div>
                </div>
            </div>
        </div>
    </header> 

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    <h2>Mision y Vision</h2>
                    <p>Disminuir la cantidad de animales no castrados mediante castraciones masivas y gratuitas. Alcanzar
                        una mejora significativa en la calidad de vida de todos los animales de nuestra ciudad, abarcando
                        también localidades aledañas.
                        Generar una red de adopción por todo nuestro territorio, que permita reducir la gran población de
                        animales callejeros.    
                    </p>
                </p>
            <p>
                    <h2>Objetivos:</h2>
                    <ul>
                        <li>Que los animales alcancen una mejor calidad de vida.</li>
                        <li>Garantizar el acceso a las castraciones.</li>
                        <li>Concientizar acerca de la tenencia responsable</li>
                        <li>Difundir información sobre los efectos negativos de la pirotecnia.</li>
                        <li>Insistir a los organismos correspondientes, en el debate sobre la utilización
                            de carros de caballos como medio de carga.</li>
                    </ul>
                </p>
                <p>
                    <H2>Integrantes de la Organización</H2>
                    <ul>
                        <li>María Goi</li>
                        <li>Marilu Giuggia</li>
                        <li>Ana Bogado</li>
                        <li>Lorena Gomez</li>
                        <li>Carla Acosta</li>
                        <li>Ariel Darocas</li>
                        <li>Juana Goya</li>
                        <li>Marcela Iznardo</li>
                        <li>Gladis Fernandez</li>
                        <li>Rosana Santos</li>
                        <li>Laura Avalle</li>
                        <li>Fabiana Rolhaiser</li>
                        <li>Susana Sosa</li>
                    </ul>
                </p>               
            </div>
        </div>
    </div>

    <hr>
{% endblock contenido %}