{% extends 'blog/base/base.html' %}

{% block contenido %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% if post.titulo %}
        <header class="intro-header">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading"  
                        {% if post.imagen_encabezado %}
                            style="background:no-repeat right center url({{post.imagen_encabezado.url}})"
                        {% endif %}>
                            <h1>{{ post.titulo }}</h1>
                            <h2 class="subheading">{{ post.copete }}</h2>
                            <span class="meta">Posteado en {{post.creacion}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr>

        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p>{{ post.contenido|safe }}</p>
                    </div>
                </div>
            </div>
        </article>

        <hr>
    {% else %}
    <h1>A&uaccute; no ha creado ning&uaccute; posteo.</h1>
    {% endif %}
{% endblock contenido %}