{% extends 'blog/base/base.html' %}

{% block contenido %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-header">
    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1></h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div> >
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    {% for post in posts %}
                        {% comment %} <a href="post/{{ post.slug }}"> {% endcomment %}
                        <a href="{% url 'blog:detail' post.slug %}">
                            <h2 class="post-title">
                                {{ post.titulo }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.copete }}
                            </h3>
                        </a>
                        <p class="post-meta">Posteado en {{ post.creacion }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock contenido %}
